//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//FONT

$default-font-size: 1.6rem;

// COLORS

$grey: #d4d4d4;
$color-white: #fff;
$color-soft-black: #0e1111;
$color-black: #000;

$color-grey-light-1:#f7f7f7;
$color-grey-light-2: #eee;

$color-gray: #777;
$color-gray-dark: #999;
$color-gray-dark-2: #333;
 
$color-primary: #5643fa;
$color-primary-light: #00ADEE;
$color-primary-dark: #052669;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;